<div *ngIf="this.user && this.user.temporaryPwd" class="temporaryPwdOverlay">
  <div class="container temporaryPwdForm" >

    <form class="form-signin">
      
      <div class="text-center">
        <h1 class="h3 mb-3 font-weight-normal">You must setup your profile before continuing!</h1>
      </div>
    
    
      <div class="form-group">
        <label for="inputField1">Email address</label>
        <input type="text" #field1="ngModel" name="field1" [(ngModel)]="newCredentials.field1" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" class="form-control" required id="inputField1" placeholder="Enter email">
      </div>
    
      <div [hidden]="field1.valid || field1.pristine"
          class="alert alert-danger">
        Mail is not valid
      </div>
      
      <div class="form-group">
        <label for="inputField2">Username</label>
        <input type="text" #field2="ngModel" required name="field2" [(ngModel)]="newCredentials.field2" class="form-control" id="inputField2" placeholder="Enter username">
      </div>
    
      <div [hidden]="field2.valid || field2.pristine"
          class="alert alert-danger">
        Username is required
      </div>
    
      <div class="form-group">
        <label for="inputField3">Password</label>
        <input type="text" #field3="ngModel" required name="field3" [(ngModel)]="newCredentials.field3" class="form-control" id="inputField3" placeholder="Password">
      </div>
    
      <div [hidden]="field3.valid || field3.pristine"
          class="alert alert-danger">
        Password is required
      </div>
    
      <div *ngIf="errmessage" class="alert alert-danger" role="alert">
        {{errmessage.errormessage}}
      </div>
    
      <div class="container text-center mt-2 mb-2">
        <button class="btn btn-lg btn-primary btn-block" [disabled]=" !field1.valid || !field2.valid || !field3.valid" (click)="updateCredentials();" >Update credentials</button>
      </div>
    
    </form>
    </div>
</div>

<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand text-white" style="user-select: none;" (click)="navigate_home()">Battleship</a>
        <div class="dropleft ms-auto mr-3">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{us.get_username()}}
            </button>
            <div class="dropdown-menu">
                <div class="dropdown-item" href="#">{{us.get_mail()}}</div>
                <div *ngIf="us.is_admin()" class="dropdown-item" href="#"><i class="fas fa-check"></i> Admin role</div>
                <div *ngIf="us.is_moderator()" class="dropdown-item" href="#"><i class="fas fa-check"></i> Moderator role</div>
                <div class="dropdown-divider"></div>
                <div class="dropdown-item" href="#" (click)="navigate_profile(this.us.get_id())">My profile</div>
                <div *ngIf="us.is_moderator()" class="dropdown-item" href="#" (click)="navigate_newModerator()">Create new Moderator</div>
                <div class="dropdown-divider"></div>
                <button type="submit" class="btn btn-danger" (click)="logout()" style="width:100%">
                    LOGOUT <i class="fas fa-check"></i>
                </button>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" style="width: 35%;">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Friends</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <app-friend-list></app-friend-list>
        </div>
        </div>
    </div>
</nav>

<!-- challenge toast -->
<div class="toast-container position-fixed bottom-0 start-0 p-3">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header bg-primary text-dark">
        <i class="fas fa-gamepad"></i>
        <strong class="me-auto">You have been challenged!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body bg-light">
        <p class="text-dark">{{incomingChallenge ? incomingChallenge.user : null}} has challenged you to a game of battleship!</p>
        <div class="row">
          <div class="col-6 ms-auto">
            <button type="submit" class="btn btn-success" (click)="accept_challenge()" >
              JOIN GAME <i class="fas fa-ship"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>