.positioningGrid{
    width: 65vmin;
    height: 65vmin;
    display: grid;
    grid-template-columns: 11;
    grid-template-rows: 11;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    border: 1px black outset;
}

.positioningGrid > span{
    border-left: 1px black outset;
    border-bottom: 1px black outset;
    background-color: rgba(128, 128, 128, 0.15);
    font-size: xx-small;
}

.positioningGrid > label{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.hotbar {
    background-color: rgba(65, 180, 40, 0.2);
    width: 65vmin;
    height: 15vmin;
    margin-top: 2vmin;
    display: flex;
    justify-content: center;
}

.hotbar > span {
    flex: 1;
    border: 1px solid black;
    text-align: center;
}