.waitingOverlay{
    z-index: 1;
    position: fixed;
    width: 100vw;
    left:0;
    height: 100vh;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

.waitingAnimation{
    width: 30vmin;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.winningAnimation{
    width: 30vmin;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.waitingText{
    color: white;
    text-align: center;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}

.winningText{
    background-color: white;
    border-radius: 10px;
    color: #212529;
    text-align: center;
    position: fixed;
    font-size: xx-large;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
}

.positioningGridContainer{
    margin-top: 8vh;
    display: flex;
    justify-content: space-evenly;
    user-select: none;
}

.positioningGrid{
    background-image: url("/assets/sea.png");
    background-size: cover;
    float: left;
    width: 65%;
    height: 65%;
    aspect-ratio: 1;
    max-width: 90vmin;
    display: grid;
    grid-template-columns: 11;
    grid-template-rows: 11;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    border: 1px solid black;
}

.positioningGrid > span{
    border-left: 1px black outset;
    border-bottom: 1px black outset;
    background-color: rgba(128, 128, 128, 0.15);
    font-size: xx-small;
}

.positioningGrid > span.occupied{
    background-image: radial-gradient(circle at center, transparent 50%, #198754 100%);
}

.positioningGrid > label{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.hotbar {
    background-color: #212529;
    border-radius: 10px;
    position: relative;
    float: left;
    width: 30%;
    max-width: calc(90vmin * 30/65);
    aspect-ratio: calc(30/65);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hotbar > span {
    flex: 1;
    text-align: center;
    justify-content: center;
}

.hotbar > span > *{
    margin: auto;
    margin-bottom: 5px;
}

.hotbar > span > div{
    top: 0px;
    left: 0px;
    background-size: contain;
    transform-origin: bottom left;
    transition-property: transform, position, left, top;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.destroyer {
    width: calc(100% * 2/11 * 65/30);
    aspect-ratio: 2;
    background-image: url("/assets/Destroyer.png");
    cursor: grab;
}

.destroyer.rotated{
    transform: rotate(90deg) translateX(calc((-1/2)*100%));
}

.cruiser {
    width: calc(100% * 3/11 * 65/30);
    aspect-ratio: 3;
    background-image: url("/assets/Cruiser.png");
    cursor: grab;
}

.cruiser.rotated{
    transform: rotate(90deg) translateX(calc((-1/3)*100%));
}

.battleship {
    width: calc(100% * 4/11 * 65/30);
    aspect-ratio: 4;
    background-image: url("/assets/Battleship.png");
    cursor: grab;
}

.battleship.rotated{
    transform: rotate(90deg) translateX(calc((-1/4)*100%));
}

.carrier {
    width: calc(100% * 5/11 * 65/30);
    aspect-ratio: 5;
    background-image: url("/assets/Carrier.png");
    cursor: grab;
}

.carrier.rotated{
    transform: rotate(90deg) translateX(calc((-1/5)*100%));
}

.gameContainer{
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    user-select: none;
}

.board1{
    flex: 2;
    margin-right: 10px;
    margin-bottom: auto;
    aspect-ratio: 1;
    max-width: 90vmin;
    display: grid;
    grid-template-columns: 10;
    grid-template-rows: 10;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    border-top: 1px solid black;
    border-right: 1px solid black;
    background-color: whitesmoke;
    background-size: cover;
}

.board2{
    width: 100%;
    flex: 3;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: 11;
    grid-template-rows: 11;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    border: 1px solid black;
    background-image: url("/assets/sea.png");
    background-size: cover;
}

.board1 > span, .board2 > span{
    border-left: 1px black outset;
    border-bottom: 1px black outset;
    background-color: rgba(128, 128, 128, 0.15);
    font-size: xx-small;
}

.board1 > span.occupied{
    background-color: #198754;
}

.board2 > span.occupied{
    background-color: #dc3545;
}

.board1 > span.hitted, .board2 > span.hitted{
    background-image: url("/assets/hit.png");
    background-size: cover;
}

.board1 > span.missed, .board2 > span.missed{
    background-image: url("/assets/miss.png");
    background-size: cover;
}

.board2 > span.targeted{
    background-image: url("/assets/target.png");
    background-size: cover;
}

.board2 > label{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.fireButton {
    background-color: #dc3545;
    border: 1px solid black;
    margin-left: 2vmin;
    border-radius: 10px;
}

.fireButton[disabled]{
    background-color: #dc35468b;
}

.fireButton > p {
    writing-mode: vertical-rl;
}

.gameChatContainer{
    background-color: #212529;
    border-radius: 10px;
    margin: 5%;
    width: 90%;
}

.send-container{
    height: 6vh;
    max-height: 6vh;
    padding-top: 2vh;
    margin: 2vh;
    margin-top: 0;
}

.chat-container{
    background-color: #f8f9fa;
    height: 20vh;
    margin: 1vh;
    border-radius: 1%;
    display: flex;
    flex-direction: column-reverse;
    overflow: scroll;
}

@media (max-aspect-ratio: 7/9) {
    .gameContainer {
        flex-direction: column;
    }
    .board1{
        width: 50%;
        margin-bottom: 10px;
    }
    .board2{
        width: 100%;
    }
    .fireButton {
        margin-top: 10px;
        margin-left: 0;
    }
    .fireButton > p {
        writing-mode:unset;
    }
}