.friends-container{
    height: 75vh;
    max-height: 75vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 1%;
    overflow: scroll;
}

.friend-card-centered{
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: auto;
    margin-right: auto
}

.chatSlot{
    background-color: #212529;
    border-radius: 10px;
    position:fixed;
    display: block;
    top: 5%;
    right: 55%;
    width: 40%;
    height: 90%;
}

.topRightButton{
    position: absolute;
    right: 10px;
    top: 10px;
}