.friends-container{
    height: 75vh;
    max-height: 75vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 1%;
    overflow: scroll;
}

.friend-card-centered{
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: auto;
    margin-right: auto
}