<div class="title-container">
    <h4 class="text-center font-weight-bold ">
      Friends
    </h4>
</div>

<div class="friends-container bg-light">
  <div *ngFor="let friend of friends" class="card bg-primary w-75 friend-card-centered" > 
    <div class="card-body">       
        <h4 class="card-title">{{ friend.username }}</h4>
        <p class="card-text">{{ friend.mail }}</p>
    </div>
    <div class="card-footer text-right font-weight-light">
        <button type="submit" class="btn btn-secondary" (click)="open_chat(friend._id)" >
            CHAT <i class="fas fa-paper-plane"></i>
        </button>
    </div>
  </div>
</div>

<div class="card text-center bg-secondary border-primary">
  <div class="card-body">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addFriendModal" style="margin-right: 10px;">
      Add Friend
      <i class="fas fa-user-plus"></i>
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#friendRequestsModal" style="margin-left: 10px;">
      Friend Requests
      <i class="fas fa-users"></i>
    </button>
  </div>
</div>

<!-- Add friend Modal -->
<div class="modal fade" id="addFriendModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="Add Friend" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Friend</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label class="col-form-label">Insert Friend ID:</label>
            <input type="text" #userIDtxt class="form-control" id="friend-mail">
          </div>
          <div *ngIf="errmessage" class="alert alert-danger" role="alert">
            Add Friend error: {{errmessage}}
          </div>
          <div *ngIf="vldmessage" class="alert alert-success" role="alert">
            {{vldmessage}}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="add_friend(userIDtxt.value)">
          Add Friend
          <i class="fas fa-user-plus"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Friend requests Modal -->
<div class="modal fade" id="friendRequestsModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="Friend Requests" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Friend Requests</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngFor="let request of friendRequests" class="card bg-primary w-75 friend-card-centered" > 
          <div class="card-body">       
              <h4 class="card-title">{{ request.username }}</h4>
              <p class="card-text">{{ request.mail }}</p>
          </div>
          <div class="card-footer text-center">
              <button type="submit" class="btn btn-success me-2" (click)="accept_friend_request(request._id)" >
                ACCEPT <i class="fas fa-check"></i>
              </button>
              <button type="submit" class="btn btn-danger ms-2" (click)="reject_friend_request(request._id)" >
                REJECT <i class="fas fa-check"></i>
              </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
