<app-navbar></app-navbar>

<div class="profileContainer">
    <section class="vh-100" style="background-color: #f4f5f7;">
        <div class="container py-2">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col col-lg-6 mb-4 mb-lg-0">
              <div class="card mb-3" style="border-radius: .5rem;">
                <div class="row g-0">
                  <div class="col-md-4 gradient-custom text-center text-white"
                    style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                    <img src="assets/profile.png"
                      alt="Avatar" class="img-fluid my-3" style="width: 80px;" />
                    <h5 class="mb-4">{{this.user ? this.user.username : "..."}}</h5>
                    <button type="button" [hidden]="this.friendState == 3" [ngClass]="{'btn-success': this.friendState==0, 'btn-light': this.friendState==1, 'btn-danger': this.friendState==2}" class="btn mb-4" data-bs-toggle="modal" data-bs-target="#addFriendModal" style="margin-right: 10px;" (click)="friendButtonClicked()">
                        {{this.friendState == 0 ? "Add friend" : (this.friendState == 1 ? "Friend request sent" : "Remove friend")}}
                        <i [ngClass]="{'fa-user-plus': this.friendState==0, 'fa-user-lock': this.friendState==1, 'fa-user-minus': this.friendState==2}"class="fas ms-2"></i>
                    </button>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body p-4">
                      <h6>Information</h6>
                      <hr class="mt-0 mb-4">
                      <div class="row pt-1">
                        <div class="col-6 mb-3">
                          <h6>Email</h6>
                          <p class="text-muted">{{this.user ? this.user.mail : "..."}}</p>
                        </div>
                        <div class="col-6 mb-3">
                          <h6>Roles</h6>
                          <p class="text-muted">{{this.user ? ((this.user.roles && this.user.roles.length>0) ? this.user.roles : "none") : "..."}}</p>
                        </div>
                      </div>
                      <h6>Stats</h6>
                      <hr class="mt-0 mb-4">
                      <div class="row pt-1">
                        <div class="col-4 mb-3">
                          <h6>Wins</h6>
                          <p class="text-muted">{{this.user ? this.user.wins : "..."}}</p>
                        </div>
                        <div class="col-4 mb-3">
                          <h6>Losses</h6>
                          <p class="text-muted">{{this.user ? this.user.wins : "..."}}</p>
                        </div>
                        <div class="col-4 mb-3">
                          <h6>Win rate</h6>
                          <p class="text-muted">{{this.user ? (((this.user.wins*100)/(this.user.wins+this.user.losses)).toFixed(2)+"%") : "..."}}</p>
                        </div>
                      </div>
                      <div class="row pt-2">
                        <div class="col-4 mb-3">
                          <h6>Hits</h6>
                          <p class="text-muted">{{this.user ? this.user.hits : "..."}}</p>
                        </div>
                        <div class="col-4 mb-3">
                          <h6>Misses</h6>
                          <p class="text-muted">{{this.user ? this.user.misses : "..."}}</p>
                        </div>
                        <div class="col-4 mb-3">
                          <h6>Hit rate</h6>
                          <p class="text-muted">{{this.user ? (((this.user.hits*100)/(this.user.hits+this.user.misses)).toFixed(2)+"%") : "..."}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>
