.chat-container{
    height: 73vh;
    max-height: 73vh;
    margin: 1vh;
    border-radius: 1%;
    display: flex;
    flex-direction: column-reverse;
    overflow: scroll;
}

.send-container{
    height: 6vh;
    max-height: 6vh;
    padding-top: 2vh;
    margin: 1vh;
}