<div *ngFor="let message of chat.messages" [ngClass]="message.isFromUser1 ? 'card bg-primary w-75' : 'card bg-secondary w-75 ml-auto'" style="margin: 5px" > 
    <div class="card-body">       
        <h4 class="card-text">{{ message.text }}</h4>
    </div>
    <div class="card-footer text-right font-weight-light">{{message.date | date}} / {{message.date | date:'shortTime'}}</div>
</div>

  <div class="container mt-5">
  <div class="form-group">
    <textarea class="form-control" [(ngModel)]="message" #messagetx id="messagetext" 
    rows="1" (keyup.enter)="post_message()" placeholder="Enter your message here"></textarea>
  </div>
  <button type="submit" class="btn btn-primary float-right" (click)="post_message()" >Send <i class="fas fa-paper-plane"></i></button>
  </div>