<div class="container" style="width: 400px; margin-top: 20px;" >
  <div class="form-signin text-center loginform ">
    <i class="fa-solid fa-4x fa-sign-in"></i>

    <h1 class="h3 mb-3 font-weight-normal">Log-in</h1>

    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" #usertxt id="inputUser" class="form-control" placeholder="Username" required autofocus>
    
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" #passwdtxt id="inputPassword" class="form-control mt-3" placeholder="Password" required>
    
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" #checkr value="remember-me"> Remember me
      </label>
    </div>
    
    <div *ngIf="errmessage" class="alert alert-danger" role="alert">
      Login error: {{errmessage}}
    </div>
    
    <button class="btn btn-lg btn-primary btn-block" (click)="login( usertxt.value, passwdtxt.value, checkr.checked );" >Login</button>
    <p><a routerLink="/signup">You don't have an account? click here to sign-up</a></p>
  </div>
</div>